h1 {
    color: rgb(255, 0, 0);
    
}


h2 {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid; /* додає видиму рамку */
    margin: 7px 0;
}


 